.dockerignore
.DS_Store
.git/
.github/
.gitignore
.sonarlint/
.vscode/
CHANGELOG.md
.claude/
CLAUDE.md
.coderabbit.yaml
CODE_OF_CONDUCT.md
codecov.yml
commitlint.config.mjs
CONTRIBUTING.md
coverage.out
LICENSE
postman-collections/
.sonarcloud.properties

/tests/
